<div class="container mt-3">
  <div class="row">
  	<%= link_to 'New', new_available_doctor_time_path, class: 'btn btn-success'%> 
  	<table class="table datatables">
  		<thead>
  			<th>Custom Availablity Date</th>
  			<th>From Time</th>
  			<th>To Time</th>
  			<th>Available</th>
  			<th>Action</th>
  		</thead>
  		<tbody>
  			<%= render partial:'available_time_data', collection: @available_times, as: :available_time %>
  		</tbody>
  	</table>
  </div>
</div>