<div class="container mt-3">
  <div class="row">
  	<table class="table datatables">
  		<thead>
        <th>Doctor email address</th>
        <th>Hospital name</th>
  			<th>Hospital mobile number</th>
        <th>Appointment Date</th>
  			<th>From Time</th>
  			<th>To Time</th>
  			<th>Status</th>
  		</thead>
  		<tbody>
			<%= render partial:'booking_data', collection: @booking_data, as: :booking %>
  		</tbody>
  	</table>
  </div>
</div>